*{
    padding: 0;
    margin: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.raleway{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;

}

.container{
    margin: 110px auto;
    padding: 100px;
    max-width: 1140px;
    height: 270px;
    /* border: 1px solid black; */
}
header{
    background-image: url(./../Assets/Hero-bg.png);
    width: 100%;
}
.navbar{
    display: flex;
    justify-content: space-between;
    padding: 50px 100px;
}

span {
	text-transform: uppercase;
	background: linear-gradient(to right, #30CFD0 0%, #330867 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-size: 38px;
    font-weight: bold;
 
}
.btn{
    background-color:#2f6c84;
    padding: 20px 60px;
    border-radius: 5px;
    border: none;
    color:white;

}
/* banner-content */
.banner-content{
    text-align: center;
    align-items: center;
    padding: 100px;
}
.banner-content h2{
    font-size: 65px;
    text-align: center;
    padding: 40px;
}
/* action-section */
.action-section{
    display: flex;
    gap: 90px;
    justify-content: space-between;
    width: 100%;

}

.section-content{
    margin-top: 50px;
    width: 50%;
    font-size: 42px;
    align-items: center;
    
}
.section-content p{
    color:rgba(37, 36, 50, 0.5);
    font-size: 24px;
    padding: 15px;
}
.sec-img{
    width: 50%;
}
.sec-img img{
     border-radius: 48px;
}
/* insights-section */
.section-deshboard{
    background-color: rgba(78, 71, 255, 0.1);
    border-radius: 35px;

}
.section-tittle{
    font-size: 38px;
    font-weight: bold;
    text-align: center;
}
.insights{
    display: flex;
    justify-content: space-between;
    /* margin-top: 60px; */
    padding:50px 120px;
}
.insights h2{
    font-size: 80px;
    color:#4E47FF
}
.insights p{
        color:rgba(37, 36, 50, 0.5);
        font-size: 20px;

}
/* section-reviews */
.review-container{
    display: flex;
    gap: 20px;
    margin-top: 20px;
    padding: 25px;
   
}


.reviews{
    background-color: rgba(242, 237, 237, 1);
    padding: 10px;
     border-radius: 15px;

}
.rating{
  display: flex;
  gap: 30px;
  padding: 5px 10px;
}
svg.svg-inline--fa.fa-star {
    color: orange;
    font-size: small;
}
.review-content{
    padding: 10px;
}
.review-content p{
    padding: 10px;
}
.avatar{
    display: flex;
    gap: 20px;
}
/* focus section */

.focus-container{
    background-color:#8ed0e2;
    width: 1200px;
    height: 600px;
    
}
.focus-tittle{
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}
.focus-section{
    text-align: center;
}
.focus-section p{
    padding: 20px;
    font-size: 16px;
    color:rgba(0, 0, 0, 0.5);
}
.focus-img{
    margin-top: 40px;
}
.focus-img img{
    border-radius: 30px;
    padding:10px auto;
    align-items: center;
}
/* get-in section */